<form class="my-5"  id="loginForm" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email адрес</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>
</form>

<script defer src="/js/login.js"></script>
