<div>
<form class="my-4" action="/users/register" id="regForm" method="POST">
  <div class="mb-2">
    <label for="name" class="form-label">введите имя</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email адрес</label>
    <input type="email" class="form-control" id="email" name="email">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Регистрация</button>
</form>
</div>

 <script defer src="/js/registration.js"></script>

