
<form name="formProf">
<div class="card workdiv" >
  <div class="card-body">
    <h5 class="card-title">Имя: {{user.name}}</h5>
    <p class="card-text"> Почта: {{user.email}}</p>
    <p class="card-text">Номер бригады: {{user.workgroupId}}</p>
  </div>
</div>


</form>
